__pycache__/
tmp_trainer
legacy
*.pyc
*.pkl
*.png
*.parquet
*.sh
checkpoints*
slurm
out
wandb/
**results**/
embeddings/
log_submitit/
model_weights/
datasets/
media/
wandb
finetuning_unsupervised*
final_models/
old*
data/
viz/
latex/